# Navigation
alias d='cd ~/Documents'

# Jupyter
alias jn='jupyter notebook'
alias jr='jupyter nbconvert --execute --to notebook --inplace --allow-errors'

# Python
alias act='source ./venv/bin/activate'
alias nvenv='python3 -m venv venv'

# Quick torch
alias torch='python3 -i -c "import torch"'

# System
alias tuto='sudo shutdown -h now'

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"
