# Navigation
alias d='cd ~/Documents'

# Random
alias dfh="df -h"
alias mkdirp="mkdir -p"

alias count="ls -1 | wc -l"			        # no. of things
alias countf="ls -p | grep -v / | wc -l"	# no. of files
alias countd="ls -p | grep / | wc -l"		# no. of directories

# Python venvs
alias venv_act='source ./.venv/bin/activate'
alias venv_new='python3 -m venv .venv'

# Jupyter
alias jn='jupyter notebook'
alias jr='jupyter nbconvert --execute --to notebook --inplace --allow-errors'

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias clean_ds="find . -type f -name '*.DS_Store' -ls -delete"

# System
alias tuto='sudo shutdown -h now'
